<!DOCTYPE html>
<!-- Crystal Zheng
     May 30,2018
     C13 Fluid Layout Exercise -->
<html>

<head>
    <title>Innovative Women final project</title>
    <meta Charset="utf-8">
    <meta name="descrition" content="Tabetha S. Boyajian is an American astronomer and astrophysicist on faculty at Louisiana State University.">
    <meta name="keywords" content="Astronomer, Louisiana State University, post-doctoral, Tabby's star, Accomplishment,Yale university.">

<!-- link to the css-->   
    <link rel="stylesheet" type="text/css" href="C13_FluidLayout (1).css" />
</head>

<body>
    <header>
        <h1>Tabetha S.Boyajian</h1>
    </header>

<!--the left column -->
    <aside id="sidebarA"">
    <h2>Trivia</h2>
    <b><h3>Birth Date</h3></b>
    <p>Born in 1980</p>
    <b><h3>Education</h3></b>
    <p>Yale University</p>
    <ul>
    <b><h3>Accomplishment</h3></b>
    <li><p>BS degree in Physics in 2003</p></li>
    <li><p>MS degree in Physics in 2005</p></li>
    <li><p>PhD degree in Physics in 2009</p></li>
    </ul>
<!-- write the paragragh and put the image before it and keep it right it in css -->   
    </aside>
    <main>
        <h2>Biography</h2>
        <img class="photos" src="TabethaS.Boyajian.jpg" alt="astronomer" title="the picture of Tabetha S.Boyajian" ／>
        <p><b>Tabetha Suzanne Boyajian</b> is an <b>American astronomer</b>and <b>astrophysicist</b> on faculty 
        at Louisiana State University. She was a post-doctoral fellow 2012 to 2016 at Yale
        University, working with Debra Fischer. Boyajian is active in the astronomical fields 
        of stellar interferometry, stellar spectroscopy, exoplanet research, and high angular
        resolution astronomy, all particularly at optical and infrared wavelengths. She was
        the lead author of the September 2015 paper "Where's the Flux?", which investigated
        the highly unusual light curve of KIC 8462852;the star is colloquially known as 
        Tabby's Star in her honor.</p>
<!--put a image here-->       
        <img class="picture" src="Tb_tabby.jpg" alt="astronomer" title="the picture of Tabetha S.Boyajian" ／>
        <br /><p>Tabetha S.Boyajian grows up in Atlanta, GA, and went to college in South 
        Carolina at the College of Charleston where she earned a BS degree in Physics. 
        After graduation, Boyajian found herself back in Georgia for grad school at Georgia State 
        University where she got a PhD in Astronomy. Fresh out of graduate school, Boyajian was awarded
        the prestigious Hubble Fellowship, a grant that allowed her research to be continued
        at Georgia State University for an additional three years.</p>
    </main>
<!-- the right column-->
    <aside id="sidebarB">
    <img class="image" src="Tabby's_star.jpg" alt="astronomer" title="the picture of Tabetha S.Boyajian" ／>
        <h2>Tabby's star</h2>
        <p>KIC 8462852(also Tabby's Star or Boyajian's Star) is an F-type main-sequence 
        star located in the constellation Cygnus approximately 1,470 light-years (450 pc)
        from Earth. It discovered by Planet Hunters project. The discovery was made from 
        data collected by the Kepler space telescope, which observes changes in the 
        brightness of distant stars to detect exoplanets</p>
        
    </aside>
    <footer> 
<!-- use the id selector to keep the line on the right-->
        <p id="bottom-right"><b>All material reproduced for educational purposes only.<b></p>
        <h2>Source</h2>
<!-- list the appplishment of Tabetha S.Boyajian -->        
        <a href="https://en.wikipedia.org/wiki/Tabetha_S._Boyajian">Information of Tabetha S.Boyajian</a><br />
        <a href="http://www.astro.yale.edu/tabetha/Site/Welcome.html">Self-Introduction of Tabetha S.Boyajian</a><br />
        <a href="https://en.wikipedia.org/wiki/KIC_8462852">Tabby's Star</a>
  
    </footer>
    
</body>

</html>